{% extends 'AppEntrega1/padre.html' %} j

{% block respectivo1 %}

{% if form.errors %}
    <p style="color: red;"> {{form.errors}}</p>
    {% endif %}

    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <form action="" method="POST">
                {% csrf_token %}
                    
                <table>
                    {{form.as_table}}
                </table>
                    
                <input class="btn btn-primary" type="submit" value="Enviar">
                <a href="{% url 'libros' %}"> Cancelar </a>
            </form>
        </div>    
    </div>

{% endblock %}

{% block titulo %}

Editar - Libro

{% endblock %}