{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Mensaje
{% endblock %}

{% block respectivo1%}
    <form method="POST"> 
        {% csrf_token %}
        <label>Asunto</label>
        <input type="text" name="asunto"><br><br>
        <label>Correo</label>
        <input type="email" name="correo"><br>
        <label>Mensaje</label>
        <textarea name="mensaje" id="" cols="30" rows="10"></textarea><br><br>

        <button class="btn btn-primary" type="submit"> Enviar </button>
    </form>
    <br>
    <a href="{% url 'inicio' %}"> Cancelar </a>
{% endblock %}