{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Mensaje
{% endblock %}

{% block respectivo1%}
    <form method="POST"> 
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="email" class="form-control" name="correo" placeholder="nombre@ejemplo.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Asunto</label>
            <input type="text" class="form-control" name="asunto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" name="mensaje" rows="3"></textarea>
        </div>

        <button class="btn btn-primary" type="submit"> Enviar </button>
    </form>
    <br>
    <a href="{% url 'home' %}"> Cancelar </a>
{% endblock %}