<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}    

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> 
            {% block titulo %}
            Mi Perfil
            {% endblock %}
        </title>
       
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppEntrega1/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        
        <!-- Masthead-->
        <header class="masthead">
            
                {% csrf_token %}
                
                    <img src="{{avatar_url}}" border="6px" height="200px"/>
                    <h6><a href="{% url 'avatar_add' %}">Agregar/Editar Avatar</a></h6>
                    <h2> @{{user.username}}</h2>
                    <br>
                    <br>
                    <h4> {{user.last_name}}, {{user.first_name}}</h4>
                    <h5> {{user.email}}</h5>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></li>
                    <a class="btn btn-primary" href="{% url 'user_editar' %}">Editar</a></li>
                    <a class="btn btn-primary" href="{% url 'home' %}">Volver</a></li>
                

            
        </header>
       

       