{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Secciones
{% endblock %}

{% block respectivo1 %}

    <h3> Las secciones de la Biblioteca son: </h3>

    {% for seccion in secciones%}
    {{ seccion }}
    <a href="{% url 'seccion_view' seccion.id %}">Ver</a>
    <a href="{% url 'seccion_delete' seccion.id %}">Borrar</a>
    <a href="{% url 'seccion_update' seccion.id %}">Editar</a>
        <br>
    {% endfor %}

<a class="btn btn-primary" href="{% url 'seccion_add' %}"> Agregar </a>
<a class="btn btn-primary" href="{% url 'home' %}"> Volver </a>


{% endblock %}