{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Sucursales
{% endblock %}

{% block respectivo1 %}

    <h3> Las sucursales son: </h3>

    {% for sucursal in sucursales%}
    {{ sucursal }}
    <a href="{% url 'sucursal_view' sucursal.id %}">Ver</a>
    <a href="{% url 'sucursal_delete' sucursal.id %}">Borrar</a>
    <a href="{% url 'sucursal_update' sucursal.id %}">Editar</a>
        <br>
    {% endfor %}

<a class="btn btn-primary" href="{% url 'sucursal_add' %}"> Agregar </a>
<a class="btn btn-primary" href="{% url 'inicio' %}"> Volver </a>
<a class="btn btn-primary" href="{% url 'busqueda_sucursal' %}"> Buscar sucursal </a>


{% endblock %}