{% extends 'AppEntrega1/padre.html' %}

{% block respectivo1 %}

    <form action="" method="POST">
        {% csrf_token %}
        
        <ul>
            <li> Nombre: {{usuario.nombre}}</li>
            <li> Apellido: {{usuario.apellido}}</li>
            <li> ID Socio: {{usuario.id_socio}}</li>
            <li> Email: {{usuario.email}}</li>
        </ul>
        
        <input type="submit" value="Borrar">
        <a class="btn btn-default" href="{% url 'usuarios' %}"> Cancelar </a>
    </form>

{% endblock %}

{% block titulo %}

Eliminar - Usuario

{% endblock %}