{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Usuarios/Socios
{% endblock %}

{% block respectivo1 %}

    <h3> Los usuarios inscriptos son: </h3>

    {% for usuario in usuarios%}
    {{ usuario }}
    <a href="{% url 'usuario_view' usuario.id %}">Ver</a>
    <a href="{% url 'usuario_delete' usuario.id %}">Borrar</a>
    <a href="{% url 'usuario_update' usuario.id %}">Editar</a>
        <br>
    {% endfor %}

<a class="btn btn-primary" href="{% url 'usuario_add' %}"> Agregar </a>
<a class="btn btn-primary" href="{% url 'inicio' %}"> Volver </a>

{% endblock %}