{% extends 'AppEntrega1/padre.html' %}

{% block titulo %}
    Libros
{% endblock %}

{% block respectivo1%}
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Editar Usuario">
        </form>

    <a class="btn btn-primary" href="{% url 'avatar_add' %}">Agregar/Editar Avatar</a>
    <br></br>
    <a class="btn btn-primary" href="{% url 'inicio' %}">Regresar</a>
    </body>
{% endblock %}